<nav class="rr-navbar" role="navigation">
  <ul class="rr-nav">
    <li class="rr-navbar-item">
      <LinkTo @route="breweries.brewery.details" @model={{brewery.id}}>Details</LinkTo>
    </li>
    <li class="rr-navbar-item">
      <LinkTo @route="breweries.brewery.beers" @model={{brewery.id}}>Beers</LinkTo>
    </li>
  </ul>
</nav>
