<div class="mx-auto w-full">
  <div class="pb-1 border-b mx-2">
    <h1 class="rr-app-title">Breweries in Austin</h1>
  </div>

  <div class="rr-main-content">
    <nav class="relative b-2 solid" role="navigation">
      <ul class="flex m-0 p-0">
        <li class="p-2 hover:bg-gray-200 hover:text-black">
          <LinkTo @route="breweries"> Breweries </LinkTo>
        </li>
        <li class="p-2 hover:bg-gray-200 hover:text-black">
          <LinkTo @route="beers"> Beers </LinkTo>
        </li>
      </ul>
    </nav>
    {{outlet}}
  </div>
</div>
